<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-block auth-body">
          <form class="md-float-material">
            <div class="text-center">
              POS 360 Portal
            </div>
            <div class="auth-box">
                <form [formGroup]="loginFormValidate" novalidate>
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="UserName" placeholder="User Name">
                <span *ngIf="loginFormValidate.get('UserName').touched && loginFormValidate.get('UserName').hasError('required')" class="mandatory">
                    User name is Required!
                  </span>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control"  formControlName="Password" placeholder="Password">
                <span *ngIf="loginFormValidate.get('Password').touched && loginFormValidate.get('Password').hasError('required')"
                    class="mandatory">
                     Password is Required!
                  </span>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox"  formControlName="Remember" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" (click)="SubmitUserLoginCredentials(loginFormValidate.value)" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" [formGroup]="loginFormValidate" novalidate>
            <div class="text-center">
              POS 360 Portal
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr/>
              <p class="md-line" *ngIf="loginFormValidate.get('UserName').touched && loginFormValidate.get('UserName').hasError('required') && loginFormValidate.get('Password').touched && loginFormValidate.get('Password').hasError('required')" class="mandatory">
                 Username and Password is Required!
              </p>
              <p class="md-line" *ngIf="!loginFormValidate.get('UserName').hasError('required') && loginFormValidate.get('Password').touched && loginFormValidate.get('Password').hasError('required')" class="mandatory">
                  Password is Required!
               </p>
               <p class="md-line" *ngIf="loginFormValidate.get('UserName').hasError('required') && loginFormValidate.get('UserName').touched && !loginFormValidate.get('Password').hasError('required')" class="mandatory">
                  User Name is Required!
               </p>
               <p class="md-line" *ngIf="message!=undefined" class="mandatory">
                  {{message}}
               </p>
              <div class="input-group">
                  <input type="text" class="form-control" formControlName="UserName" placeholder="User Name*">
                  <!-- <span class="md-line" *ngIf="loginFormValidate.get('UserName').touched && loginFormValidate.get('UserName').hasError('required')" class="mandatory">
                      User name is Required!
                    </span> -->
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                    <input type="password" class="form-control"  formControlName="Password" placeholder="Password*">
                    <!-- <p *ngIf="loginFormValidate.get('Password').touched && loginFormValidate.get('Password').hasError('required')"
                        class="mandatory">
                         Password is Required!
                </p> -->
                    <span class="md-line"></span>
                  </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                        <input type="checkbox"  formControlName="Remember">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" (click)="SubmitUserLoginCredentials(loginFormValidate.value)" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
