<simple-notifications [options]="options"></simple-notifications>
<ngx-ui-loader [fgsColor]="config.fgsColor" [fgsType]="config.fgsType" [fgsSize]="config.fgsSize"></ngx-ui-loader>
<div class="row">
  <div class="col-sm-12">
    <!-- Tab variant tab card start -->
    <div class="row">
      <div class="col-md-12 col-lg-12">

      </div>

    </div>
    <!-- Tab variant tab card start -->
  </div>
</div>

<form #itemForm="ngForm" (ngSubmit)="itemForm.form.valid && save()">
  <div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px">
      <a class="btn btn-danger" [routerLink]="['/forms/add-on']" routerLinkActive="router-link-active"
        style="float: right; margin-left: 10px;margin-right: 10px">
        <i class="icofont icofont-reply"></i>Cancel
      </a>
      <button type="submit" class="btn btn-primary" style="float: right; margin-left: 10px;margin-right: 10px">
        <i class="icofont icofont-ui-edit"></i>Update Item
      </button>
    </div>

    <div class="col-sm-12">
      <app-card [cardOptionBlock]="true">
        <div class="form-group row">
          <label class="col-sm-2 col-lg-2 col-form-label">Item Name</label>
          <div class="col-sm-8">
            <input class="form-control" required id='item-name' name='itemname' class="form-control col-md-5"
              placeholder="item name" #itemName='ngModel' [(ngModel)]='formData.itemname' />
            <div *ngIf="itemForm.submitted && itemName.invalid" class="messages text-danger ng-star-inserted">
              <span class="help-block" *ngIf="itemName?.errors.required">Please enter item name</span>
            </div>
          </div>
          <div class="col-sm-2">
            <input style="display:none;" (change)="onItemPictureSelect($event)" #fileToUpload type="file"
              class="form-control-file" name="file" placeholder="photo" accept="image/*" required />
            <div class="mt-2">
              <button type="button" class="btn btn-info" (click)="fileToUpload.click()">
                <i class="fa fa-fw fa-camera"></i><span>Item Photo</span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-lg-2 col-form-label">Item Price</label>
          <div class="col-sm-10">
            <input class="form-control" required id='item-price' name='itemprice' type="number"
              class="form-control col-sm-8 col-md-4" placeholder="item price" #itemPrice='ngModel'
              [(ngModel)]='formData.itemprice' />
            <div *ngIf="itemForm.submitted && itemPrice.invalid" class="messages text-danger ng-star-inserted">
              <span class="help-block" *ngIf="itemPrice?.errors.required">Please enter item price</span>
            </div>
          </div>
        </div>
        <div class="tabs-main-wrapper">
          <ul class="nav mt-2 nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a [ngClass]="{'active': tabIndex[0], 'nav-link rounded-0 text-dark': true }" (click)="tabIndexClick(0)"
                data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Additional info</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active': tabIndex[1], 'nav-link rounded-0 text-dark': true }" (click)="tabIndexClick(1)"
                data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Properties </a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active': tabIndex[2], 'nav-link rounded-0 text-dark': true }" (click)="tabIndexClick(2)"
                data-toggle="tab" role="tab" aria-controls="modifier" aria-selected="false">Modifiers </a>
            </li>
          </ul>
          <div class="tab-content mt-5" id="myTabContent">
            <div [ngClass]="{'active': tabIndex[0], 'tab-pane border-top-0 fade show': true }" id="home" role="tabpanel"
              aria-labelledby="home-tab">
              <div class="container">
                <div class="tb-content-wrap">
                  <div class="additional-info">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="additional-part">
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="ebt">EBT
                              <input id="ebt" name="foodstampable" #ebt='ngModel' [(ngModel)]='formData.foodstampable'
                                type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="askDesc">Ask Description
                              <input id="askDesc" name="askdescription" #askDesc='ngModel'
                                [(ngModel)]='formData.askdescription' type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="hasStock">Has Stock
                              <input id="hasStock" name="countitem" #hasStock='ngModel' [(ngModel)]='formData.countitem'
                                type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="askPrice">Ask Price
                              <input id="askPrice" name="askprice" #askPrice='ngModel' [(ngModel)]='formData.askprice'
                                type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="disabled">Disabled
                              <input id="disabled" name="disabled" #disabled='ngModel' [(ngModel)]='formData.disabled'
                                type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="askQuant">Ask quantity
                              <input id="askQuant" name="askquantity" #askQuant='ngModel'
                                [(ngModel)]='formData.askquantity' type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="hasTip">Include Tip
                              <input id="hasTip" name="hasTip" #askQuant='ngModel' [(ngModel)]='formData.hasTip'
                                type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="single-checkBoxTwo">
                            <label class="checkBox" for="checkId">Check ID
                              <input id="checkId" name="checkId" #checkId='ngModel' [(ngModel)]='formData.checkid'
                                type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="additional-part-2">
                          <div class="text-area-inside">
                            <textarea id='additinalDesc' name='additinalDesc' placeholder="Additional Desc"
                              #additinalDesc='ngModel' [(ngModel)]='formData.additinalDesc'></textarea>
                          </div>
                          <input id='points' name='points' placeholder="Points" #points='ngModel'
                            [(ngModel)]='formData.points' />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{'active': tabIndex[1], 'tab-pane border-top-0 fade show': true }" id="contact"
              role="tabpanel" aria-labelledby="contact-tab">
              <div class="container">
                <div class="tb-content-wrap">
                  <div class="select-main-wrap">
                    <div class="row">
                      <div class="col-lg-6 mb-20">
                        <select *ngIf="!formData.departmentId" 
                                name="departmentId" id="departmentId" (change)='selectDepartment($event.target.value)'
                          class="form-control form-control-inverse">
                          <option value=''>Department</option>
                          <option *ngFor="let department of DepartmentDropdownList" [value]="department.id">
                            {{department.deptName}}
                          </option>
                        </select>
                        <select *ngIf="formData.departmentId" name="departmentId" id="departmentId" [(ngModel)]='formData.departmentId'
                          class="form-control form-control-inverse">
                          <option value=''>Department</option>
                          <option *ngFor="let department of DepartmentDropdownList" [value]="department.id">
                            {{department.deptName}}
                          </option>
                        </select>
                      </div>
                      <div class="col-lg-6 mb-20">
                        <select name="unitsize" id="" class="form-control form-control-inverse">
                          <option value="">Size</option>
                          <option *ngFor='let size of SizeDropdownList' [(ngModel)]='itemForm.unitsize'
                            value="size.measurement">{{sizesizeId}}</option>
                        </select>
                      </div>
                      <div class="col-lg-6 mb-20">
                        <select name="categoryId" id="" class="form-control form-control-inverse">
                          <option value="">Category</option>
                          <option *ngFor='let category of categories' value="category.id"
                            [(ngModel)]='itemForm.categoryId'>
                            {{category.categoryName}}</option>
                        </select>
                      </div>
                      <div class="col-lg-6 mb-20">
                        <select *ngIf="!formData.brandId" name="brandId" (change)='selectBrand($event.target.value)' id="brandId"
                          class="form-control form-control-inverse">
                          <option value="">Brand</option>
                          <option *ngFor='let brand of BrandDropdownList' [value]="brand.id">
                            {{brand.brandName}}
                          </option>
                        </select>
                        <select *ngIf="formData.brandId" name="brandId" [(ngModel)]='formData.brandId' id="brandId"
                          class="form-control form-control-inverse">
                          <option value="">Brand</option>
                          <option *ngFor='let brand of BrandDropdownList' [value]="brand.id">
                            {{brand.brandName}}
                          </option>
                        </select>
                      </div>
                      <div class="col-lg-6 mb-20">
                        <select name="familyId" id="" class="form-control form-control-inverse">
                          <option value="">Family</option>
                          <option *ngFor='let family of FamilyDropdownList' value="family.id"
                            [(ngModel)]='itemForm.familyId'>
                            {{family.familyName}}</option>
                        </select>
                      </div>
                      <div class="col-lg-6 mb-20">
                        <select name="subfamilyId" id="" class="form-control form-control-inverse">
                          <option value="">Sub Family</option>
                          <option *ngFor='let subF of SubfamilyDropdownList' value="subF.id"
                            [(ngModel)]='itemForm.subfamilyId'>
                            {{subF.subFamilyName}}
                          </option>
                        </select>
                      </div>

                      <div class="col-lg-6 mb-20">
                        <select name="" id="" class="form-control form-control-inverse">
                          <option value="">Section</option>
                          <option *ngFor='let section of sections' value="section.id" [(ngModel)]='itemForm.sectionId'>
                            {{section.sectionName}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{'active': tabIndex[2], 'tab-pane border-top-0 fade show': true }" id="modifier"
              role="tabpanel" aria-labelledby="modifier-tab">
              <div class="container">
                <div class="tb-content-wrap">
                  <div class="modifier-wrap">
                    <div class="modifier-button">
                      <button type="button" data-toggle="modal" data-target="#modifiersModal" class="box-btn">Add
                        Modifier</button>
                      <button type="button" class="box-btn" data-toggle="modal" data-target="#modifiersGroupsModal">Add
                        Modifier Group</button>
                      <button type="button" class="box-btn">Delete</button>
                    </div>
                  </div>
                  <div class="modifier-content">
                    <div class="left-side">
                      <button type="button" class="box-btn"><img src="assets/img/up.png" alt=""></button>
                      <button type="button" class="box-btn"><img src="assets/img/down.png" alt=""></button>
                    </div>
                    <div class="right-sight">
                      <ng-container *ngIf="modifiersSelected">
                        <label class="checkBox mb-2" for="_{{i}}"
                          *ngFor='let modifier of modifiersSelected; let i = index;'>
                          {{modifier.modifierName}}
                          <input id="_{{i}}" name="name_{{i}}" *ngIf='modifier === modifiersSelected[i]'
                            type="checkbox" />
                          <span class="checkmark"></span>
                          <br>
                        </label>
                      </ng-container>

                      <ng-container *ngIf="modifiersGroupSelected">
                        <label class="checkBox mb-2" for="mog_{{i}}"
                          *ngFor='let modifierGroup of modifiersGroupSelected; let i = index;'>
                          {{modifierGroup.modifierGroupName}}
                          <input id="mog_{{i}}" name="mog{{i}}" *ngIf='modifierGroup === modifiersGroupSelected[i]'
                            type="checkbox" />
                          <span class="checkmark"></span>
                          <br>
                        </label>
                      </ng-container>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-card>
    </div>

  </div>
</form>
<div class="modal fade" id="modifiersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifiersModal">Add Modifiers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 mb-20">
            <div *ngIf='modifiers' class="single-checkBoxTwo">
              <label class="checkBox mb-2" *ngFor='let modifier of modifiers; let i =index;' for="ebt_{{i}}">
                {{modifier.modifierName}}
                <input id="ebt_{{i}}" name="name_{{i}}" (change)="accepted=$event.target.checked"
                  (change)="selectModifiers(modifier)" type="checkbox" [checked]='modifiersSelectedIds.includes(modifier.id)'>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modifiersGroupsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifiersGroupsModal">Add Modifiers Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 mb-20">
            <div *ngIf='modifiers' class="single-checkBoxTwo">
              <label class="checkBox mb-2" *ngFor='let modifierGroup of modifiersGroup; let i =index;' for="mg_{{i}}">
                {{modifierGroup.modifierGroupName}}
                <input id="mg_{{i}}" name="name_{{i}}" (change)="accepted=$event.target.checked"
                  (change)="selectModifiersGroup(modifierGroup)" type="checkbox"
                  [checked]='modifiersGroupSelectedIds.includes(modifierGroup.id)'>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
